.button {
    border: none;
    background-color: #dd514c;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.4s;
    padding: 7px 11px;
    user-select: none !important;

    &:hover {
        background-color: #d7342e;
    }
}

:global {
    .danger {
        background-color: #dd514c;
    
        &:hover {
            background-color: #d7342e;
        }
    }
}
