@font-face {
    font-family: "MyFont";
    src: url("./sj_guyuan.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
body {
    background: #fefefe;
    padding: 18px;
}
div {
    margin: 10px 0;
}
.hello {
    color: #696969;
    font-family: 'MyFont';
    margin: 0;
}
